@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;900&display=swap');

/* 1. Include functions first (so you can manipulate colors, SVGs, calc, etc) */
@import "~bootstrap/scss/functions";

/* 2. Include any default variable overrides here */
$primary: #d63384; /* $pink */

/* 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets) */
@import "~bootstrap/scss/variables";

/* 4. Include any default map overrides here */

$primary-100: $pink-100;


/** Change bootstrap colours default **/
$negrotext: #333333;
$backgroundcolor: rgb(253, 253, 253);


/** Font default **/
/*$font-family-base: Segoe UI, Frutiger, Dejavu Sans, Helvetica Neue, Arial, sans-serif;*/
$font-family-base: 'Nunito', sans-serif;
$font-size-base: 1.0rem;
$body-color: $negrotext;  /*this is the text color*/

/** Change bootstrap form default **/
$input-border-radius: 0.175rem;

/** Change bootstrap header default **/
$h1-font-size: 2.5rem;
$h2-font-size: 2.25rem;
$h3-font-size: 2.0rem;
$h4-font-size: 1.75rem;
$h5-font-size: 1.50rem;
$h6-font-size: 1.25rem;

$headings-color: $negrotext;
/*$headings-font-family: Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, sans-serif;*/
$headings-font-weight: 900;
$display-line-height: 1.2;

/* Import all of Bootstrap CSS */
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.css";

/**** Margin - Padding */
body{
		text-rendering: optimizeSpeed;
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0, 0, 0, .15) 0 0 0.5px;
    background-color: $backgroundcolor;
}
a {
	text-decoration: none;
	color: $negrotext;
}
a:hover {
	text-decoration: none;
	color:$primary;
}
.text-content a {
	color: $negrotext;
	text-decoration: none;
	background-image: -webkit-linear-gradient(left,$primary-100 100%,#fff 0);
	background-position: 0 100%;
	background-repeat: repeat-x;
	background-size: 100% 25%;
	border-radius: 10px;		
	padding: 0 2px 0 2px;
}
.text-content a:hover {
	background-size: 100% 100%;
}
.pt-100 {
	padding-top: 100px;
}

#app {
  height: 100vh !important;
}

.pointer {
	cursor: pointer;
}

.close-tag:hover {
	color: #cb0000;
}